<div class="card">
  <div class="content" [ngClass]="{'content': toggle, 'content-rotate': !toggle}">
    <div class="back">
      <div class="back-content">
        <span class="heading">{{ planet.name }}</span>
        <span>Rotation Period:  {{ planet.rotation_period }}</span>
        <span>Orbital Period: {{ planet.orbital_period }}</span> 
        <span>Climate: {{ planet.climate }}</span> 
        <span>Terrain: {{ planet.terrain }}</span> 
        <span>Population: {{ planet.population }}</span> 
        <button class="btn" (click)="onToggleCard()" type="button">
          <strong>Residents</strong>
        </button>
      </div>
    </div>
    <div class="front">
        <button class="btn" (click)="onToggleCard()" type="button">
            <strong>Back</strong>
          </button>
    <ng-container *ngIf="residentsData?.length !==0; else noResident">
      <span class="front-heading">Residents</span>
      <div class="front-content">
      <div class="names-list" *ngFor="let resident of residentsData ">
        <span class="name-card" (mouseover)="showTooltip($event, resident)" (mouseout)="hideTooltip()">{{resident.name}}</span>
        <div class="tooltip" [style.display]="tooltipVisible ? 'block' : 'none'" [style.left]="tooltipLeft" [style.top]="tooltipTop">
          <span>Name : {{ tooltipContent?.name }}</span>
          <span>Gender : {{ tooltipContent?.gender }}</span>
          <span>Height : {{ tooltipContent?.height }}</span>
          <span>Birth_year :{{ tooltipContent?.birth_year }}</span>
          <span>hair_color :{{ tooltipContent?.hair_color }}</span>
          <span>skin_color :{{ tooltipContent?.skin_color }}</span>
        </div>
      </div>
    </div>
    </ng-container>
    </div>
  </div>
</div>
<ng-template #noResident>
    <span class="no-resident">Oops!! No one's home...</span>
</ng-template>
